
.canvas {
	display: block;
	margin: 0 auto;
}

.graph .hidden {
	opacity: 0;
}

.background {
	fill: #eee;
	stroke: none;
}

.grid {
	stroke: #fff;
	stroke-width: 1;
}

.name {
	cursor: pointer;
}

.active .name {
	fill: #ff0000;
}

.meta .title {
	font-size: 2em;
	fill: #474747;
}
