
.canvas {
	display: block;
	margin: 0 auto;
}

.graph .hidden {
	opacity: 0;
}

.background {
	fill: #eee;
	stroke: none;
}

.grid {
	stroke: #fff;
	stroke-width: 1;
}

.name {
	cursor: pointer;
}

.meta .title {
	display: block;
	/*font-size: 2em;*/
	line-height: 2em;
	padding: 0 10px;
	/*background-color: #474747;*/
	/*color: #ffffff;*/
	font-size: 1.5em;
	color: #474747;
}
