
.canvas {
	display: block;
	margin: 0 auto;
}

.graph .hidden {
	opacity: 0;
}

.background {
	fill: #eee;
	stroke: none;
}

.grid {
	fill: none;
	stroke: #fff;
	stroke-width: 1;
	shape-rendering: crispEdges;
	vector-effect: non-scaling-stroke;
}

.name {
	cursor: pointer;
}

.active .name {
	fill: #ff0000;
}

.axis .label {
	font-size: 18px;
}
